{%extends "base.html" %} 
{% block title %} | {{project.title}}{% endblock %} 
{% block content %} 
<div>
{{project.title}}
</div>
<div>
{{project.description}}
</div>
<div>
{{project.demo_link}}
</div>
<div>
{{project.source_link}}
</div>
<div>
    {% for tag in project.tags.all%}
{{tag.name}}
{% endfor%}
</div>
<div>
{{project.vote_total}}
</div>
<div>
{{project.vote_ratio}}
</div>
<a href = "{% url 'projects:update-project' project.id %}">Update project information</a>
<a href="{% url "projects:delete-project" project.id %}">Delete project</a> 
{% endblock %}
